[manifest]
version = "1.0.0"
priority = 0

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "if add and not G.GAME.banned_keys[v.key] then "
position = "after"
match_indent = true
payload = '''

    -- BIBLIO: Add extra copies if present
    if type(pool_opts.biblio_extra_copies) == "number" and pool_opts.biblio_extra_copies > 0 then
      for i = 1, (pool_opts.biblio_extra_copies-1) do
        _pool[#_pool + 1] = v.key
        _pool_size = _pool_size + 1
      end
    end
'''
